.navbar__toggle {
  position: relative;
  width: 48px;
  height: 28px;
  border: none;
  outline: none;
  background: var(--toggle-btn-bg);
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: background 0.3s;
  padding: 0 4px;
  overflow: hidden;
}

.navbar__toggle:focus,
.navbar__toggle:hover {
  outline: none;
  background: var(--toggle-btn-bg);


}


.navbar__toggle--dark {
  /* background: var(--color-accent); */
  justify-content: flex-end;
}

.navbar__toggle-icon {
  color: var(--color-primary);
  font-size: 1.2rem;
  z-index: 2;
  transition: transform 0.4s cubic-bezier(.4, 2.3, .3, 1);
  display: flex;
}

.navbar__toggle--dark .navbar__toggle-icon {
  transform: rotate(360deg);
}

@media (max-width: 600px) {
  .navbar__toggle {
    width: 40px;
    height: 24px;
  }
}