.editor-toolbar {
  display: flex;
  gap: 0.5rem;
  background: var(--toolbar-bg);
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  /* border: 1px solid var(--color-accent); */
  border-bottom: none;
  align-items: center;
  box-shadow: 0 -2px 16px 0 rgba(56, 189, 248, 0.08);

}

.toolbar-btn {
  background: none;
  border: none;
  color: var(--color-toolbar-btn);
  font-size: 1.2rem;
  padding: 0.4rem 0.7rem;
  border-radius: 6px;
  cursor: pointer;
  /* transition: background 0.2s, color 0.2s; */
}

.toolbar-btn.active,
.toolbar-btn:focus {
  /* background: ; */
  color: var(--color-secondary);
  outline: none
}

.toolbar-btn:hover {
  background: none;
  color: var(--color-secondary);
}