.textunify-container {
  display: flex;
  gap: 2rem;
  padding: 0.5rem 2rem;
}

.textunify-input-wrapper,
.textunify-output-wrapper {
  flex: 1 1 320px;
  max-width: 50%;
  min-width: 280px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 80vh;
}


@media (max-width: 900px) {
  .textunify-container {
    flex-direction: column;
    gap: 1.5rem;
  }

  .textunify-input-wrapper,
  .textunify-output-wrapper {
    max-width: 100%;
  }
}