:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Light theme variables (default) */
:root {
  --color-primary: #7c3aed;
  /* Purple */
  --color-accent: #ede9fe;
  /* Light Purple for hover */
  --color-bg: #F8F8F8;
  /* Editor & Output Background */
  --color-bg-secondary: rgba(255, 255, 255, 0.5);
  /* For glassy UI */
  --color-text: #1f2937;
  /* Dark text */
  --color-border: #d1d5db;
  --gradient-bg: linear-gradient(to bottom right, #7c3aed, #a78bfa);
  --navbar-bg: var(--color-primary);
  --toggle-btn-bg: #f3f0ff;
  --editor-bg: #ffffff;
}

/* Dark theme variables */
.dark {
  --color-primary: #7c3aed;
  --color-accent: #4c1d95;
  --color-bg: #1A1A1A;
  --color-bg-secondary: rgba(30, 30, 40, 0.6);
  --color-text: #f1f5f9;
  --color-border: #4b5563;
  --gradient-bg: linear-gradient(to bottom right, #4c1d95, #6d28d9);
  --navbar-bg: var(--color-primary);
  /* #1e1b29; */
  --toggle-btn-bg: #1e1b29;
  --editor-bg: #000000
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-accent);
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  transition: background 0.25s, border-color 0.25s;
}

button:hover {
  background-color: var(--color-accent);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}